<!DOCTYPE html>
<html>
<head>
  <title>Boye</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/assets/application.css' %>
  <%= stylesheet_link_tag '/assets/bootstrap.css'%>
  <%= stylesheet_link_tag '/assets/home.scss'%>
  <%= stylesheet_link_tag '/assets/style.css'%>
  <%= stylesheet_link_tag '/assets/swipebox.css'%>
  <%= javascript_include_tag '/assets/easing.js'%>
  <%= javascript_include_tag '/assets/jquery-1.11.0.min.js'%>
  <%= javascript_include_tag '/assets/jquery.min.js'%>
  <%= javascript_include_tag '/assets/jquerymixitup.min.js'%>
  <%= javascript_include_tag '/assets/jquery.swipebox.min.js'%>
  <%= javascript_include_tag '/assets/move-top.js'%>
  <%= javascript_include_tag '/assets/responsiveslides.min.js'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
